@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 100;
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0OIpQoyXQa2RxT7-5jhgRCQ_w.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 200;
  src: local('Catamaran ExtraLight'), local('Catamaran-ExtraLight'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jKhVVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: local('Catamaran Light'), local('Catamaran-Light'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jThZVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: local('Catamaran Medium'), local('Catamaran-Medium'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jFhdVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 600;
  src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jOhBVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jXhFVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 800;
  src: local('Catamaran ExtraBold'), local('Catamaran-ExtraBold'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jQhJVZNyE.ttf) format('truetype');
}
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 900;
  src: local('Catamaran Black'), local('Catamaran-Black'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jZhNVZNyE.ttf) format('truetype');
}
